Repository namastexlabs/automagik-telemetry: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, typescript-eslint, python-mypy, version-sync-check

.pre-commit-config.yaml:

# Pre-commit hooks for automagik-telemetry
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^python/
      # Run the formatter
      - id: ruff-format
        files: ^python/

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^typescript/.*\.(ts|js|json)$
        exclude: ^typescript/dist/

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: check-case-conflict

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'cd typescript && pnpm exec tsc --noEmit'
        language: system
        files: ^typescript/.*\.ts$
        pass_filenames: false
        stages: [pre-commit]

      - id: typescript-eslint
        name: TypeScript ESLint
        entry: bash -c 'cd typescript && pnpm run lint'
        language: system
        files: ^typescript/.*\.ts$
        pass_filenames: false
        stages: [pre-commit]

      - id: python-mypy
        name: Python mypy type check
        entry: bash -c 'cd python && uv run mypy src'
        language: system
        files: ^python/src/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

      - id: version-sync-check
        name: Version sync check (Python vs TypeScript)
        entry: bash -c 'scripts/check-version-sync.sh'
        language: system
        files: ^(python/pyproject\.toml|typescript/package\.json)$
        pass_filenames: false
        stages: [pre-commit]

Rename INDEX.md to README.md
  docs/README.md
Due: none

docs: add comprehensive CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

feat(infra): grafana dash and test data
  infra/grafana/provisioning/dashboards/logs-dashboard.json
  infra/grafana/provisioning/dashboards/metrics-dashboard.json
  infra/grafana/provisioning/dashboards/telemetry-overview.json
  infra/grafana/provisioning/dashboards/traces-dashboard.json
  infra/scripts/generate_test_data.py
Due: none

fix: align Python batch_size default with TypeScript (1 → 100)
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/USER_GUIDES/BACKENDS.md
  python/src/automagik_telemetry/client.py
Due: python-mypy

test: relax P99 threshold for attribute serialization test (10ms → 15ms)
  python/tests/test_performance.py
Due: none

ci: fix coverage comment action path configuration
  .github/workflows/python-ci.yml
Due: none

fix: enable relative_files in coverage configuration
  python/pyproject.toml
Due: version-sync-check

fix(docs): correct Python initialization pattern in all examples and docs
  docs/GETTING_STARTED.md
  docs/PYTHON_INITIALIZATION_GUIDE.md
  docs/REFERENCES/API_REFERENCE.md
  examples/python/omni_example.py
Due: none

fix: Add metrics and logs tables to ClickHouse schema
  infra/clickhouse/init-db.sql
  infra/docker-compose.yml
  infra/grafana/provisioning/dashboards/metrics-dashboard.json
Due: none

feat(typescript): add ClickHouse table configuration parameters
  .env.example
  docs/REFERENCES/API_REFERENCE.md
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint

docs: fix timeout documentation - both SDKs use seconds
  .env.example
  docs/REFERENCES/API_REFERENCE.md
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  docs/USER_GUIDES/CONFIGURATION.md
Due: none

fix(python): disable() now flushes pending events to prevent data loss
  python/src/automagik_telemetry/client.py
  python/tests/test_client.py
Due: python-mypy

fix(lint): remove unused Mock import from test
  python/tests/test_client.py
Due: none

feat(typescript): achieve schema parity with Python ClickHouse backend
  typescript/src/backends/clickhouse.ts
Due: typescript-typecheck, typescript-eslint

feat(tests): add comprehensive async and edge case tests for TypeScript SDK (Issue #8)
  typescript/tests/async.test.ts
  typescript/tests/edge-cases.test.ts
Due: typescript-typecheck, typescript-eslint

feat(tests): add memory leak detection and OTLP integration tests (Issue #8 Phase 2)
  typescript/tests/memory.test.ts
  typescript/tests/otlp.integration.test.ts
Due: typescript-typecheck, typescript-eslint

style: fix prettier formatting in clickhouse.ts
  typescript/src/backends/clickhouse.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): increase wait time for compression test
  typescript/tests/edge-cases.test.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): prevent timers from blocking Jest exit
  typescript/src/client.ts
  typescript/tests/setup.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): increase memory threshold for mixed signals test
  typescript/tests/memory.test.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): adjust memory thresholds for CI environment variance
  typescript/tests/memory.test.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): update ClickHouse test field names to match schema
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/tests/memory.test.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): increase memory growth rate threshold to 11MB for CI variance
  typescript/tests/memory.test.ts
Due: typescript-typecheck, typescript-eslint

fix(tests): adjust coverage thresholds to achievable levels
  typescript/jest.config.js
Due: none

fix(ci): update coverage verification to match jest thresholds
  .github/workflows/typescript-ci.yml
Due: none

fix(tests): increase memory growth rate threshold to 15MB for Node version variance
  typescript/tests/memory.test.ts
Due: typescript-typecheck, typescript-eslint

feat(tests): achieve 100% code coverage
  .mcp.json
  typescript/jest.config.js
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/src/backends/clickhouse.ts
Due: typescript-typecheck, typescript-eslint

chore(ci): update coverage thresholds to 100%
  .github/workflows/typescript-ci.yml
Due: none

style: run prettier on clickhouse.test.ts
  typescript/src/backends/__tests__/clickhouse.test.ts
Due: typescript-typecheck, typescript-eslint

fix(docs): correct API_REFERENCE.md critical errors
  docs/REFERENCES/API_REFERENCE.md
Due: none

docs: add critical behavioral differences to SDK_DIFFERENCES.md
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
Due: none

docs: update SDK_DIFFERENCES.md to reflect Python disable() now flushes
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
Due: none

fix(security): reorder PII pattern checks to prevent API key leakage
  python/src/automagik_telemetry/privacy.py
Due: python-mypy

fix(typescript): add missing resource attributes for ClickHouse backend
  typescript/src/client.ts
Due: typescript-typecheck, typescript-eslint

docs(readme): fix Python initialization examples to use TelemetryConfig
  README.md
Due: none

fix: resolve critical SDK inconsistencies and improve parity
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/GETTING_STARTED.md
  docs/USER_GUIDES/CONFIGURATION.md
  infra/clickhouse/init-db.sql
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
  python/tests/integration/test_clickhouse_integration.py
  python/tests/test_client.py
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_memory.py
  python/tests/test_integration_otlp.py
  python/tests/test_integration_throughput.py
  typescript/src/backends/clickhouse.ts
  typescript/src/client.ts
  typescript/src/config.ts
  typescript/tests/async.test.ts
  typescript/tests/clickhouse.integration.test.ts
  typescript/tests/client.test.ts
  typescript/tests/edge-cases.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/memory.test.ts
  typescript/tests/otlp.integration.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

Update CLAUDE.md
  CLAUDE.md
Due: none

chore: rename npm package to automagik-telemetry and bump to v0.1.4
  .github/workflows/release.yml
  README.md
  docs/DEVELOPER_GUIDES/CONTRIBUTING.md
  docs/DEVELOPER_GUIDES/IMPLEMENTATION.md
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/GETTING_STARTED.md
  docs/README.md
  docs/REFERENCES/API_REFERENCE.md
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  docs/REFERENCES/EVENT_CONSTANTS.md
  docs/REFERENCES/TROUBLESHOOTING.md
  docs/USER_GUIDES/BACKENDS.md
  docs/USER_GUIDES/CONFIGURATION.md
  docs/USER_GUIDES/QUICK_REFERENCE.md
  infra/CLICKHOUSE_BACKEND_DESIGN.md
  infra/CLICKHOUSE_VERIFICATION.md
  infra/README.md
  python/pyproject.toml
  typescript/README.md
  typescript/package.json
Due: version-sync-check

fix: resolve critical bugs and documentation inconsistencies
  docs/GETTING_STARTED.md
  docs/PYTHON_INITIALIZATION_GUIDE.md
  python/src/automagik_telemetry/__init__.py
  python/src/automagik_telemetry/client.py
  python/src/automagik_telemetry/config.py
  typescript/src/backends/clickhouse.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

fix: update remaining @automagik/telemetry references to automagik-telemetry
  examples/typescript/forge_example.ts
  examples/typescript/tools_example.ts
  typescript/src/index.ts
Due: typescript-typecheck, typescript-eslint
