Repository namastexlabs/automagik-telemetry: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, typescript-eslint, python-mypy, version-sync-check

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd typescript && pnpm exec tsc --noEmit'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-eslint:
  name: TypeScript ESLint
  entry: bash -c 'cd typescript && pnpm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-mypy:
  name: Python mypy type check
  entry: bash -c 'cd python && uv run mypy src'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

version-sync-check:
  name: Version sync check (Python vs TypeScript)
  entry: bash -c 'scripts/check-version-sync.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: formalize backend architecture and improve SDK consistency
  INFRASTRUCTURE_REVIEW_REPORT.md
  PYTHON_SDK_CONSISTENCY_REVIEW.md
  SDK_PARITY_REPORT.md
  python/src/automagik_telemetry/backends/__init__.py
  python/src/automagik_telemetry/backends/base.py
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/backends/otlp.py
  python/src/automagik_telemetry/client.py
  python/tests/conftest.py
  python/tests/test_advanced_features.py
  python/tests/test_async.py
  python/tests/test_client.py
  python/tests/test_performance.py
  typescript/src/backends/__tests__/base.test.ts
  typescript/src/backends/__tests__/index.test.ts
  typescript/src/backends/base.ts
  typescript/src/backends/clickhouse.ts
  typescript/src/backends/index.ts
  typescript/src/backends/otlp.ts
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

chore: cleanup
  INFRASTRUCTURE_REVIEW_REPORT.md
  PYTHON_SDK_CONSISTENCY_REVIEW.md
  SDK_PARITY_REPORT.md
Due: none

chore: examples
  examples/README.md
  examples/python/README.md
  examples/python/basic_example.py
  examples/python/requirements.txt
  examples/typescript/README.md
  examples/typescript/basic_example.ts
  examples/typescript/package.json
  infra/docker-compose.yml
  python/tests/test_schema.py
  typescript/src/backends/clickhouse.ts
  typescript/src/client.ts
  typescript/tests/schema.test.ts
Due: typescript-typecheck, typescript-eslint

fix: async methods, queue sizes, error handling and interfaces
  README.md
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/USER_GUIDES/CONFIGURATION.md
  examples/python/basic_example.py
  examples/python/omni_example.py
  examples/typescript/basic_example.ts
  examples/typescript/forge_example.ts
  infra/clickhouse/init-db.sql.backup
  infra/clickhouse/schema_merge.patch
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/backends/otlp.py
  python/src/automagik_telemetry/client.py
  python/tests/test_clickhouse_backend.py
  typescript/src/backends/clickhouse.ts
  typescript/src/backends/otlp.ts
  typescript/src/client.ts
  typescript/src/config.ts
  typescript/src/opt-in.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

fix: comprehensive codebase consistency fixes and test improvements
  README.md
  docs/REFERENCES/API_REFERENCE.md
  examples/python/basic_example.py
  examples/python/omni_example.py
  examples/typescript/basic_example.ts
  examples/typescript/forge_example.ts
  examples/typescript/pnpm-lock.yaml
  examples/typescript/tools_example.ts
  infra/.env.example
  infra/Makefile
  infra/README.md
  infra/clickhouse/init-db.sql
  infra/clickhouse/metrics-logs-schema.sql
  infra/docker-compose.yml.backup
  infra/grafana/provisioning/datasources/clickhouse.yaml.backup
  python/src/automagik_telemetry/__init__.py
  python/src/automagik_telemetry/backends/base.py
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/backends/otlp.py
  python/src/automagik_telemetry/client.py
  python/src/automagik_telemetry/config.py
  python/tests/test_client.py
  python/tests/test_coverage_complete.py
  python/tests/test_integration_throughput.py
  typescript/src/backends/clickhouse.ts
  typescript/src/client.ts
  typescript/tests/client.test.ts
  typescript/tests/memory.test.ts
  typescript/tests/schema.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

test: achieve 100% test coverage for both Python and TypeScript SDKs
  python/pyproject.toml
  python/src/automagik_telemetry/backends/base.py
  python/tests/integration/test_clickhouse_integration.py
  python/tests/test_backend_error_coverage.py
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_memory.py
  python/tests/test_integration_otlp.py
  python/tests/test_integration_throughput.py
  python/uv.lock
  typescript/tests/async.test.ts
  typescript/tests/clickhouse-errors.test.ts
  typescript/tests/client.test.ts
  typescript/tests/edge-cases.test.ts
  typescript/tests/memory.test.ts
  typescript/tests/otlp.integration.test.ts
  typescript/tests/performance.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy, version-sync-check

chore: add root Makefile and format all code
  Makefile
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
  python/src/automagik_telemetry/config.py
  python/tests/conftest.py
  python/tests/test_backend_error_coverage.py
  python/tests/test_client.py
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_memory.py
  typescript/src/backends/__tests__/index.test.ts
  typescript/src/backends/clickhouse.ts
  typescript/src/backends/otlp.ts
  typescript/src/client.ts
  typescript/tests/async.test.ts
  typescript/tests/clickhouse-errors.test.ts
  typescript/tests/clickhouse.integration.test.ts
  typescript/tests/client.test.ts
  typescript/tests/config.test.ts
  typescript/tests/edge-cases.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/memory.test.ts
  typescript/tests/opt-in.test.ts
  typescript/tests/otlp.integration.test.ts
  typescript/tests/performance.test.ts
  typescript/tests/privacy-credit-card.test.ts
  typescript/tests/privacy.test.ts
  typescript/tests/schema.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

fix: remove unused imports to pass linting
  python/tests/test_backend_error_coverage.py
  python/tests/test_schema.py
Due: none

fix: format test_schema.py after import removal
  python/tests/test_schema.py
Due: none

fix: remove flaky package dependency (Solutions 1 & 3 remain)
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_throughput.py
Due: none

Path conditions:
  typescript-typecheck: any of: ^typescript/.*\.ts$
  typescript-eslint: any of: ^typescript/.*\.ts$
  python-mypy: any of: ^python/src/.*\.py$
  version-sync-check: any of: ^(python/pyproject\.toml|typescript/package\.json)$
