Repository namastexlabs/automagik-telemetry: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, typescript-eslint, python-mypy, version-sync-check

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd typescript && pnpm exec tsc --noEmit'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-eslint:
  name: TypeScript ESLint
  entry: bash -c 'cd typescript && pnpm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

python-mypy:
  name: Python mypy type check
  entry: bash -c 'cd python && uv run mypy src'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

version-sync-check:
  name: Version sync check (Python vs TypeScript)
  entry: bash -c 'scripts/check-version-sync.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: correct time series format and extend time range in logs dashboard
  infra/grafana/provisioning/dashboards/logs-dashboard.json
Due: none

docs: fix remaining MEDIUM/LOW documentation issues
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
Due: none

fix: use explicit column aliases for pie chart to show severity breakdown
  infra/grafana/provisioning/dashboards/logs-dashboard.json
Due: none

fix: add reduceOptions to pie chart to preserve all severity rows
  infra/grafana/provisioning/dashboards/logs-dashboard.json
Due: none

feat: generate 100 logs with trace context and expanded message variety
  infra/scripts/generate_test_data.py
Due: none

fix: populate trace_id, span_id, and project_name in logs table
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
Due: python-mypy

feat: add trace correlation test script and document format mismatch
  infra/scripts/generate_test_data.py
  infra/scripts/test_correlation.py
Due: none

docs: consolidate test documentation and add CONTRIBUTING.md
  CONTRIBUTING.md
  docs/DEVELOPER_GUIDES/TESTING.md
  infra/scripts/generate_test_data.py
  python/tests/INTEGRATION_TESTS_README.md
  python/tests/README.md
  python/tests/integration/README.md
  typescript/tests/CLICKHOUSE_INTEGRATION_README.md
  typescript/tests/CLICKHOUSE_TESTS_SUMMARY.md
  typescript/tests/INTEGRATION_TESTS_README.md
  typescript/tests/README.md
Due: none

docs: fix environment variable documentation inconsistencies
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  python/src/automagik_telemetry/config.py
Due: python-mypy

fix: replace TelemetryClient with AutomagikTelemetry and fix gzip test handling
  python/tests/integration/test_clickhouse_integration.py
  python/tests/test_advanced_features.py
  python/tests/test_async.py
  python/tests/test_client.py
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_memory.py
  python/tests/test_integration_otlp.py
  python/tests/test_integration_throughput.py
  python/tests/test_performance.py
Due: none

fix(typescript): replace TelemetryClient with AutomagikTelemetry and remove table config
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/src/client.ts
  typescript/tests/clickhouse.integration.test.ts
  typescript/tests/client.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/performance.test.ts
Due: typescript-typecheck, typescript-eslint

fix: update ClickHouse backend tests for new batch structure
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint

feat: add environment variable support for metrics and logs endpoints
  .env.example
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  python/src/automagik_telemetry/client.py
  python/tests/test_client.py
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

fix: resolve deadlock in batch processing by extracting data before flush
  python/src/automagik_telemetry/client.py
Due: python-mypy

fix: handle gzip-compressed payloads in batch processing test
  python/tests/test_advanced_features.py
Due: none

fix: resolve TelemetryConfig import confusion and TypeScript test failures
  python/src/automagik_telemetry/__init__.py
  typescript/src/client.ts
  typescript/src/config.ts
  typescript/src/privacy.ts
  typescript/tests/clickhouse.integration.test.ts
  typescript/tests/performance.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

fix: update ClickHouse backend tests and add gzip handling
  python/src/automagik_telemetry/backends/clickhouse.py
  python/tests/test_advanced_features.py
  python/tests/test_clickhouse_backend.py
  python/tests/test_clickhouse_metrics_logs.py
Due: python-mypy

docs: fix timeout configuration documentation inconsistency
  README.md
Due: none

feat: achieve 100% code coverage and add comprehensive enforcement
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
  .pre-commit-config.yaml
  README.md
  docs/COVERAGE.md
  docs/DEVELOPER_GUIDES/SDK_DIFFERENCES.md
  docs/GETTING_STARTED.md
  docs/INDEX.md
  docs/PYTHON_INITIALIZATION_GUIDE.md
  docs/REFERENCES/API_REFERENCE.md
  docs/REFERENCES/ENVIRONMENT_VARIABLES.md
  docs/REFERENCES/TROUBLESHOOTING.md
  docs/USER_GUIDES/CONFIGURATION.md
  python/pyproject.toml
  python/src/automagik_telemetry/config.py
  python/tests/test_advanced_features.py
  python/tests/test_async.py
  python/tests/test_config.py
  python/tests/test_coverage_complete.py
  python/tests/test_integration_fastapi.py
  python/tests/test_integration_memory.py
  python/tests/test_integration_throughput.py
  typescript/jest.config.js
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/src/backends/__tests__/index.test.ts
  typescript/src/backends/clickhouse.ts
  typescript/src/backends/index.ts
  typescript/src/client.ts
  typescript/src/config.ts
  typescript/src/index.ts
  typescript/tests/client.test.ts
  typescript/tests/config.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy, version-sync-check

test: add comprehensive test coverage for edge cases and error handlers
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/tests/client.test.ts
  typescript/tests/opt-in.test.ts
  typescript/tests/privacy.test.ts
Due: typescript-typecheck, typescript-eslint

refactor: remove backward compatibility code and fix batch_size default
  README.md
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
  python/tests/conftest.py
  python/tests/integration/test_clickhouse_integration.py
  python/tests/test_advanced_features.py
  python/tests/test_clickhouse_backend.py
  python/tests/test_clickhouse_metrics_logs.py
  python/tests/test_client.py
  typescript/tests/clickhouse.integration.test.ts
  typescript/tests/client.test.ts
Due: typescript-typecheck, typescript-eslint, python-mypy

refactor: eliminate cargo cult code and simplify API
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
  python/tests/test_client.py
  python/tests/test_coverage_complete.py
Due: python-mypy

chore: bump version to 0.1.0 (breaking changes from refactor)
  python/pyproject.toml
Due: version-sync-check

chore: align TypeScript version to 0.1.0
  typescript/package.json
Due: version-sync-check

fix: replace invalid Directory URL with valid Source Code URL in pyproject.toml
  python/pyproject.toml
Due: version-sync-check

test: achieve 100% code coverage across Python and TypeScript
  python/tests/test_performance.py
  typescript/tests/client.test.ts
  typescript/tests/opt-in.test.ts
Due: typescript-typecheck, typescript-eslint

chore: fix linting errors across Python and TypeScript
  python/src/automagik_telemetry/__init__.py
  python/src/automagik_telemetry/backends/clickhouse.py
  python/src/automagik_telemetry/client.py
  python/tests/integration/test_clickhouse_integration.py
  python/tests/test_advanced_features.py
  python/tests/test_async.py
  python/tests/test_clickhouse_backend.py
  python/tests/test_clickhouse_metrics_logs.py
  python/tests/test_client.py
  python/tests/test_coverage_complete.py
  python/tests/test_integration_memory.py
  python/tests/test_integration_otlp.py
  python/tests/test_integration_throughput.py
  typescript/.eslintrc.json
  typescript/src/backends/clickhouse.ts
  typescript/src/client.ts
  typescript/src/config.ts
  typescript/src/privacy.ts
  typescript/tsconfig.json
Due: typescript-typecheck, typescript-eslint, python-mypy

chore: bump version to 0.1.1
  python/pyproject.toml
  typescript/package.json
Due: version-sync-check

style: fix prettier formatting
  typescript/src/backends/__tests__/clickhouse.test.ts
  typescript/src/backends/clickhouse.ts
  typescript/src/config.ts
  typescript/src/index.ts
  typescript/src/privacy.ts
Due: typescript-typecheck, typescript-eslint

chore: bump version to 0.1.2
  python/pyproject.toml
  typescript/package.json
Due: version-sync-check

fix: add json-summary to jest coverage reporters for CI
  typescript/jest.config.js
Due: none

chore: bump version to 0.1.3
  python/pyproject.toml
  typescript/package.json
Due: version-sync-check

fix: relax performance test thresholds for CI/CD variability
  python/tests/test_integration_memory.py
  python/tests/test_integration_throughput.py
  python/tests/test_opt_in.py
  python/tests/test_performance.py
Due: none

fix: remove extraneous f-string prefix in test
  python/tests/test_integration_memory.py
Due: none

ci: exclude performance tests from CI
  .github/workflows/python-ci.yml
Due: none

fix: increase performance test thresholds for CI reliability
  .github/workflows/python-ci.yml
  python/tests/test_performance.py
Due: none

fix(tests): coverage
  python/tests/test_coverage_edge_cases.py
Due: none

fix: remove unused imports from edge case tests
  python/tests/test_coverage_edge_cases.py
Due: none

fix: restore tempfile import needed by edge case tests
  python/tests/test_coverage_edge_cases.py
Due: none

fix(tests): clear CI env vars in edge case tests to reach 100% coverage
  python/tests/test_coverage_edge_cases.py
Due: none

Path conditions:
  typescript-typecheck: any of: ^typescript/.*\.ts$
  typescript-eslint: any of: ^typescript/.*\.ts$
  python-mypy: any of: ^python/src/.*\.py$
  version-sync-check: any of: ^(python/pyproject\.toml|typescript/package\.json)$
